* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

:root {
  font-size: 16px;
  --background: #f2f1e9;
  --foreground: #262626;
  --textAccent: #f24150;

  --header: clamp(2vw, 3rem, 8.5vw);
  --subTitle: clamp(2vw, 2rem, 4.5vw);
  --inlineText: clamp(1vw, 1.3rem, 3vw);
}

html,
body {
  max-width: 100vw;
  scrollbar-width: none;
  /* prevents the viewport from bouncing outisde of bounds when we reach the end of the scroll window, needed because i am calculating the scroll position */
  overscroll-behavior: none;

  /* using all of this css too stop scrolling behavior */
  height: 100%;
  /* overflow: hidden; */
  -webkit-overflow-scrolling: auto;
  -ms-overflow-style: none; /* IE and Edge */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

.introTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  color: #f24150;
  mix-blend-mode: normal;
  font-size: clamp(2vw, 3rem, 4.5vw);
  text-align: center;
  z-index: 3;
  cursor: default;
}

/* If you want the whole page locked physically (fallback) */
.locked {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Scrollable container class to use in markup */
.scrollable {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
