
:root {
	font-size: 16px;
	--background: #F2F1E9;
	--foreground: #262626;
	--textAccent: #F24150;
}

html,
body, 
#root {
	max-width: 100vw;
	height: 100%;
	scrollbar-width: none;
	/* prevents the viewport from "bouncing" outisde of bounds when we reach the end of the scroll window, needed because i am calculating the scroll position */
	overscroll-behavior: none;

	/* HIER NICHT OVERFLOW EINFÜGEN, sonst buggy scrolling */
	/* overflow-y: hidden; */
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
