.dots {
	--BG-COLOR: #ffffff;
	width: 20rem; /* Background circle around the dice */
	aspect-ratio: 1;
	border-radius: 50%;
	perspective: 1000px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 4px solid black;
	animation: changeColor 5s ease infinite;
	background-color: var(--BG-COLOR);
	opacity: 1;
	background-image: radial-gradient(#5b5b5b 1px, transparent 1px),
		radial-gradient(#5a5a5a 1px, var(--BG-COLOR) 1px);
	background-size: 24px 24px;
	z-index: 2;
}
